.text-icon[data-v-aa8de344] {
  margin-left:4px;
  width:14px;
  height:14px;
  fill:currentColor
}
.icon[data-v-aa8de344] {
  width:20px;
  height:20px;
  fill:currentColor;
  transition:fill .25s
}

.VPSocialLink[data-v-16cf740a] {
  display:flex;
  justify-content:center;
  align-items:center;
  width:36px;
  height:36px;
  color:var(--vp-c-text-2);
  transition:color .5s
}

.VPSocialLink[data-v-16cf740a]:hover {
  color:red;
  transition:color .25s
}

.VPSocialLink[data-v-16cf740a]>svg {
  width:20px;
  height:20px;
  fill:currentColor
}
.VPSocialLinks[data-v-e71e869c] {
  display:flex;
  justify-content:center
}
.VPNavBarExtra[data-v-c8c2ae4b] {
  display:none;
  margin-right:-12px
}

:root {
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, .56)
  --vp-c-text-3: rgba(60, 60, 67, .56)
}
